################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin
obj
/2025/LeapSweProcessDemo2025/.vs/LeapSweProcessDemo2025
